[user]
	name = cpc26
	email = cpc26@mac.com
[core]
	excludesfile = /Users/cpc26/.gitignore_global
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = true
[push]
	default = matching
